aiofiles
aiohappyeyeballs
aiohttp
aiosignal
attrs
beautifulsoup4
certifi
charset-normalizer
colorama
contourpy
cycler
dnspython
et_xmlfile
fake-useragent
fonttools
frozenlist
idna
kiwisolver
markdown-it-py
matplotlib
mdurl
motor
multidict
numpy
openpyxl
packaging
pandas
pandas-stubs
pillow
propcache
Pygments
pymongo
pyparsing
python-dateutil
pytz
requests
rich
six
slugify
soupsieve
tqdm
typing_extensions
tzdata
urllib3
yarl