# This file lists the Python dependencies for the project.
# Each line specifies a package that can be installed via pip.
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
contourpy
cycler
dnspython
et_xmlfile
fake-useragent
fonttools
frozenlist
idna
kiwisolver
markdown-it-py
matplotlib
mdurl
motor
multidict
numpy
openpyxl
packaging
pandas
pandas-stubs
pillow
pip
propcache
Pygments
pymongo
pyparsing
python-dateutil
pytz
requests
rich
setuptools
six
slugify
soupsieve
tqdm
typing_extensions
tzdata
urllib3
wheel
yarl