# This file lists the Python dependencies for the project.
# Each line specifies a package that can be installed via pip.
beautifulsoup4
bs4
certifi
charset-normalizer
dnspython
fake-useragent
idna
numpy
pandas
pip
pymongo
python-dateutil
pytz
requests
setuptools
six
soupsieve
typing_extensions
tzdata
urllib3
wheel